.FormLogin{
    flex: 50%;

    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#form div{
    margin: 20px 0px;
}

.entrar{
    text-align: center;
}

.imgLogoDoEmpresa{
    flex: 50%;

    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.imgLogoDoEmpresa img{
    width: 90%;
}